* {
  margin: 0;
  padding: 0;
}

body {
  background-image: url("../resources/homepageImage.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  overflow-x: hidden;
  overflow: overlay;
  background-attachment: fixed;
  z-index: 0;
}

/* Homepage */

#homepage-div {
  display: flex;
  flex-direction: column;

  width: 100vw;
  height: 100vh;

  z-index: 1;
}

#homepage-div #top-display {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  min-height: 100vh;
}

#homepage-div #top-display #tinted-display {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100vw;
  height: 35vh;

  background-color: rgba(0, 0, 0, 0.4);
}

#homepage-div #top-display #tinted-display h1 {
  width: 100vw;
  height: auto;

  font-size: 5.2em;

  text-align: center;

  color: #fff;
}

#homepage-div #top-display #tinted-display p {
  width: 100vw;
  height: auto;

  font-family: "lora-regular", serif;
  font-size: 1.5em;
  text-align: center;

  color: #fff;
}

#homepage-div #top-display #buffer-div {
  flex: 1;
}

#homepage-div #top-display #social-div {
  display: flex;

  flex: 1;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  
  width: 100vw;
}

#homepage-div #top-display #social-div #social-tinted {
  width: auto;

  background-color: rgba(0, 0, 0, 0.5);
}

#homepage-div #top-display #social-div #social-button {
  border: none;
  outline: none;

  background-color: transparent;
}

#homepage-div #top-display #social-div #navbar-button {
  border: none;
  outline: none;

  background-color: transparent;
}

#homepage-div #top-display #social-div #social-icon {
  padding: 10px 10px 10px 10px;

  width: 30px;
  height: 30px;

  color: #fff;
}

#homepage-div #top-display #social-div #social-icon:hover {
  color: #ccc;

  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

/* Nav Menu */

#homepage-div #top-display #social-div #nav-menu {
  display: flex;
  position: absolute;

  flex-direction: column;

  display: 'inline-flex';

  width: auto;
  height: auto;
  bottom: 50px;

  background-color: rgba(0, 0, 0, 0.5);

  transition: 3s ease-out;  
}

#homepage-div #top-display #social-div #nav-menu #nav-button {
  padding: 10px 20px 10px 20px;

  font-size: 1.4em;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  letter-spacing: .06em;

  border: none;
  outline: none;
  background-color: transparent;
  color: #fff;
}

#homepage-div #top-display #social-div #nav-menu #nav-button:hover {
  text-decoration: underline;
}

/* About */

#about-display {
  flex-direction: column;
  justify-content: center;
  align-items: center;

  /* top: 100vh; */

  width: 100vw;
  height: auto;

  background-color: #fff;
}

#about-display h3 {
  text-align: center;

  padding: 80px 0 0 0;

  color: #000;

  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.2rem;
  line-height: 2;
  margin-bottom: 0.3rem;
  letter-spacing: 0.3rem;
}

#about-display #about-tags {
  padding: 10px 100px 10px 100px;

  font-family:Georgia, 'Times New Roman', Times, serif;
}

#about-display #about-text {
  text-align: left;

  padding: 10px 100px 80px 100px;

  font-size: 1.1em;
  line-height: 1.8em;

  color: #111;
}

/* Footer div */

#footer-div {
  display: flex;

  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-end;

  width: 100vw;
  height: auto;

  background-color: #222;

  z-index: 1;
}

#footer-div #footer-social #social-button {
  border: none;
  outline: none;

  background-color: transparent;
  color: #fff;
}

#footer-div #footer-social #social-button:hover {
  color: #999;

  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

#footer-div #footer-social #social-icon {
  padding: 10px;

  width: 30px;
  height: 30px;
}


/* Posts */

#posts-div {
  display: flex;

  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  height: 100vh;
  width: 100vw;

  background-color: transparent;
}

#posts-div #posts-div-top {
  display: flex;

  flex-direction: row;
  justify-content: center;
  align-content: center;

  width: 100vw;

  background-color: rgba(0, 0, 0, 0.4);
}

#posts-div #posts-div-top h3 {
  flex: 1;

  text-align: center;

  padding: 0 50px 0 0;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.5rem;
  line-height: 2;
  margin-bottom: 0.3rem;
  letter-spacing: 0.3rem;

  color: #fff;
}

#posts-div #posts-div-top button {
  outline: none;
  border: none;

  padding: 10px;

  background-color: transparent;
  color: #fff;
}

#posts-div #posts-div-top button:hover {
  color: #333;

  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

#posts-div #post-categories-div {
  display: flex;

  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  
  padding: 30px 0 0 0;

  width: 100%;
  height: auto;
}

#posts-div #post-categories-div ul {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-content: center;

  width: 80vw;
  height: auto;

  background-color: transparent;
}

#posts-div #post-categories-div #cat-li {
  display: flex;

  flex-direction: column;
  justify-content: center;
  align-self: center;
  align-content: center;

  width: 100%;
  height: 100%;

  margin: 15px 0 0 0;

  background-color: transparent;
}

#posts-div #post-categories-div #cat-li #cat-li-button {
  outline: none;

  border-style: solid;
  border-width: 2px;
  border-color: #fff;

  padding: 20px 0 10px 0;

  background-color: rgba(0, 0, 0, 0.4);

  width: 100%;
  height: 100%;
}

#posts-div #post-categories-div #cat-li #cat-li-button p {
  width: 100%;

  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.45em;
  letter-spacing: 3px;
  text-align: center;
  color: #fff;
}

#posts-div #post-categories-div #cat-li #cat-li-button #down-icon {
  width: 100%;

  padding: 5px 0 0 0;

  color: white;
}

#posts-div #post-categories-div #cat-li #cat-ul {
  display: flex;

  /* border-style: solid;
  border-color: #fff;
  border-right-width: 2px;
  border-left-width: 2px;
  border-bottom-width: 2px;
  border-top-width: 0; */

  background-color: rgba(0, 0, 0, 0.4);

  transition: all 2s ease-in;

  list-style-type: none;

  height: 100%;
}

#posts-div #post-categories-div #cat-li #cat-li-li {
  height: 100%;

  border-style: solid;
  border-color: #fff;
  border-right-width: 2px;
  border-left-width: 2px;
  border-bottom-width: 2px;
  border-top-width: 0;

  color: #fff;
}

#posts-div #post-categories-div #cat-li #cat-li-li #cat-li-li-button {
  border: none;
  outline: none;
  
  width: 100%;

  padding: 15px;

  text-align: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 1.1em;
  letter-spacing: 2px;

  color: #fff;
  background-color: transparent;
}

#posts-div #post-categories-div #cat-li #cat-li-li #cat-li-li-button:hover {
  text-decoration: underline;
}

#blog-div-top {
  display: flex;

  flex-direction: row;
  justify-content: flex-start;
  align-content: center;

  width: 100vw;

  background-color: rgba(0, 0, 0, 0.4);
}

#blog-div-top button {
  outline: none;
  border: none;

  padding: 10px;

  background-color: transparent;
  color: #fff;
}

#blog-div-top button:hover {
  color: #333;

  -moz-transition: all .2s ease-in;
  -o-transition: all .2s ease-in;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
}

#blog-div {
  min-height: 100vh;

  display: flex;
  flex-direction: column;
}

#blog-div #blog-div-blog {
  margin: 20px;
  padding: 10px;
  
  overflow: hidden;

  width: 90%;
  max-width: 1250px;
  align-self: center;

  background-color: white;
}

#blog-div #blog-div-blog h1 {
  text-align: center;

  font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Calisto MT, Times New Roman, serif;
  font-size: 3rem;
  font-style: normal;
  font-weight: normal;
}

#blog-div #blog-div-blog h3 {
  text-align: center;
  font-weight: normal;
}

#blog-div #blog-div-blog h4 {
  text-align: center;
  
  font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Calisto MT, Times New Roman, serif;
  font-size: 2.5rem;
  font-weight: normal;

  margin: 0 0 10px 0;
}

#blog-div #blog-div-blog h6 {
  text-align: center;
  margin: 5px 0 15px 0;
  
  font-family: Didot, Didot LT STD, Hoefler Text, Garamond, Calisto MT, Times New Roman, serif;
  font-size: .9rem;
  font-weight: normal;

  color: grey;
}

#blog-div #blog-div-blog h6 a {
  text-decoration: underline;
  color: grey;
}

#blog-div #blog-div-blog hr {
  margin: 10px 0 10px 0;
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

#blog-div #blog-div-blog p {
  font-family: roboto,sans-serif;;
  font-size: 18px;
  line-height: 28px;

  margin: 10px;
  
  color: #292929;
}

#blog-div #blog-div-blog img {
  width: 100%;
  height: auto;
  object-fit: contain;
}

#blog-div #blog-div-blog pre {
  overflow-x: scroll;
}

#blog-div #blog-div-blog blockquote {
  background-color: #eee;
  color: #333;
  margin: 0;
  padding-left: 3px;
  border-left: 0.5em #ccc solid;
}

/* Scrollbar */

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  display: none;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.9);
}


/* Mobile */

@media only screen and (max-width: 640px) {
  html, body {
    width: 100%;
    height: 100%;
    
    overflow-x: hidden;
  }

  #homepage-div #top-display #tinted-display h1 {
    width: 100vw;
    height: auto;
  
    font-size: 2.4em;
  
    text-align: center;
  
    color: #fff;
  }

  #homepage-div #top-display #social-div {
    position: relative;
  }

  #homepage-div #top-display #social-div #nav-menu {
    position: absolute;
  }

  #about-display #about-text {
    text-align: left;

    padding: 20px 20px 100px 20px;

    font-size: 1.1em;
    line-height: 1.8em;

    color: #333;
  }

  #about-display #about-tags {
    padding: 10px 20px 10px 20px;
  }
}